<header id="exercise">
	<h1> Exercice </h1>
</header>

<section id="picto">
	<h3>Nom de l'exercice</h3>
	<div class="<%= @data.type %>"></div>
</section>

<section id="repeat">
	<h3>x10</h3>
</section>

<section id="interact">
	<a href="<%= "/patient/explain/" <> @data.num %>" >
		<button>Suivant</button>
	</a>
</section>
