<header id="pass">
	<div>
		<a href="/patient">
			<i class="fas fa-arrow-left"></i>
			<span>Retour</span>
		</a>
	</div>
	<h1>Ça ne va pas ?</h1>
</header>

<section id="pass">
	<h2>Pourquoi tu n'as pas pu finir la séance ?</h2>
	<form >
		<label>
			<input type="radio" name="reason" value="sick" checked="true">
			Je suis malade
		</label>
		<label>
			<input type="radio" name="reason" value="tired">
			Je suis fatigué·e
		</label>
		<label>
			<input type="radio" name="reason" value="busy">
			Je suis occupé·e
		</label>
		<label>
			<input type="radio" name="reason" value="other">
			Autre
		</label>
	</form>
</section>

<section id="input">
	<input type="text" placeholder="Taper votre message" />

	<button id="micro">
		<i class="fas fa-microphone"></i>
	</button>
</section>

