header#explain {
	height: 80px;
}

header#explain h1 {
	font-family: "Montserrat-Bold";
	height: 80px;
	line-height: 80px;
	text-align: center;
}

header#explain + section#picto {
	margin-top: 100px;
}

section#picto h3 {
	width: 100%;
	font-family: "Montserrat-Medium";
	text-align: center;
}

section#picto div {
	width: 95%;
	height: 250px;
	cursor: pointer;
	margin-left: 2.5%;
	background-repeat: no-repeat;
}

/* NOT REALY GOOD, BUT DEADLINE... */
div.timer {
	background-image: url("/images/desc1.jpeg");
	background-size: 100% auto;
	background-position: 0 -30px;
}

div.rep {
	background-image: url("/images/desc2.jpeg");
	background-size: 150% auto;
	background-position: -90px -180px;
}

p.timer:after {
	content: 'Étirement des muscles fléchisseur de la main.';
}

p.rep:after {
	content: 'Renforcement des muscles et des pectoraux.' !important;
}
/* STOPPING THE WITCH CRAFT HERE */


section#explain {
	width: 95%;
	margin-left: 2.5%;
}

section#explain h4 {
	margin-top: 30px;
	width: 100%;
	font-family: "Montserrat-SemiBold";
	text-align: left;
}

section#interact #go {
	background: #734b7d;
}

section#interact #no {
	background: white;
	color: black;
}
