header#feedback div {
	width: 95%;
	margin-left: 5%;
	margin-top: 25px;
}

header#feedback div:hover a {
	color: white;
}

header#feedback div i {
	width: auto;
}

header#feedback h1 {
	font-family: "Montserrat-SemiBold";
	height: 80px;
	line-height: 80px;
	text-align: center;
}

section#feedback {
	margin-top: calc(calc(100% / 3) + 80px);
	height: 60%;
}

section#feedback h2 {
	font-family: "Montserrat-Medium";
	font-size: 1.6em;
	width: 90%;
	margin-left: 5%;
	margin-top: 25px;
}

section#feedback #result_container {
	width: 85%;
	margin-left: 7.5%;
	display: flex;
	flex-wrap: wrap;
	justify-content: left;
	padding-bottom: 15px;
}

section#feedback #result_container i {
	font-size: 2.8em;
	padding: 10px;
	color: #e0e0e0;
}

section#feedback #result_container i.active {
	color: #a787ac;
}

section#feedback #score_container {
	width: 85%;
	margin-left: 7.5%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding-top: 10px;
	padding-bottom: 10px;
	background: #e6e6e6;
	border-radius: 100vw;
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

section#feedback #score_container {
	direction: rtl;
}

section#feedback #score_container i {
	cursor: pointer;
	font-size: 2.2em;
	padding: 10px;
	color: inherit;
}

/* IMPL */

.rate:not(:checked) > input {
	display: none;
}

.rate:not(:checked) > label {
	color: white;
    cursor:pointer;
}

.rate > input:checked ~ label {
    color: #734b7d;
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #a787ac;
}

.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #734b7d;
}
