section#input {
	height: 10%;
	margin-left: 10px;
	margin-right: 10px;
	display: flex;
	justify-content: space-between;
}

section#input input {
	width: 80%;
	height: 90%;
	padding-left: 4%;
	padding-right: 4%;
	border-radius: 100vw;
	border: none;
	-webkit-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	-moz-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	margin: auto auto;
	text-indent: 15px;
}

section#input input:focus {
	outline: none;
}

section#input #micro {
	cursor: pointer;
	min-width: 15%;
	width: 15%;
	min-height: 80%;
	background: #734b7d;
	text-align: center;
	display: flex;
	justify-content: center;

	-webkit-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	-moz-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	transition: 0.3s ease;
}

section#input #micro > i.fa-microphone {
	cursor: pointer;
	font-size: 1.4em;
	width: auto;
}

section#input #micro > i.fa-paper-plane {
	cursor: pointer;
	font-size: 1.2em;
	width: auto;
	margin: auto;
}

.record {
	background: red !important;
}
