header#pass div {
	width: 95%;
	margin-left: 5%;
	margin-top: 25px;
}

header#pass div:hover a {
	color: white;
}

header#pass div i {
	width: auto;
}

header#pass h1 {
	font-family: "Montserrat-SemiBold";
	height: 80px;
	line-height: 80px;
	text-align: center;
}

section#pass {
	margin-top: calc(calc(100% / 3) + 80px);
	height: 60%;
}

section#pass h2 {
	font-family: "Montserrat-Medium";
	font-size: 1.6em;
	width: 90%;
	margin-left: 5%;
}

section#pass form {
	width: 80%;
	margin-left: 10%;
	display: flex;
	flex-direction: column;
	padding: 10px;
}


section#pass label {
	font-size: 1.4em;
	padding-top: 10px;
	padding-bottom: 10px;
}

section#pass [type="radio"]{
	height: 30px;
	width: 30px;
	margin-right: 30px;
}

