#paralax {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: -1;
	position: absolute;
	background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("/images/welcom_background.jpg");
	background-size: cover;
	background-position: center;
}

#section_logo {
	width: 100%;
	height: 50%;
	position: relative;
	background-image: url("/images/logo.svg");
	background-repeat: no-repeat;
	background-size: 250% 250%;
	background-position: center;
}

#section_logo > div {
	width: 100%;
	min-height: 100px;
	margin-top: 55%;
	background-image: url("/images/title.png");
	background-repeat: no-repeat;
	background-size: 90% auto;
	background-position: center;
	position: absolute;
}

#section_inter{
	width: 100%;
	height: 50%;
	position: relative;
}

#section_inter > button {
	color: black;
	margin-top: 50px;
	background: white;
}

#section_inter > button:hover {
	color: black;
	margin-top: 50px;
	background: white;
}
